/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

.example-fill-remaining-space{
flex: 1 1 auto;
}
.nav-btn{
    margin-right: 0.5em;
    /* margin: 15px;
    padding: 10px; */
    background-color: darkslategrey;
}
.image{
   margin-right: 50px;
}

.logo {
    max-width: 250px;
}

.about-company{
    vertical-align: middle; 
    max-width: 500px;
    padding: 5px;
    padding-top: 10px;
}

.body-wrapper{
    background-color: white;
    border-radius: 0 0 10px 10px;
}

body, html{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    background-color: darkslategrey;
}